
.cardImage
{
	width:50%;
	height:50%;
}
.main
{
	width: 100%;
	overflow:hidden;
}
.col
{
	float: left;
    width: 33.33%;
}
.log
{
	overflow-y:auto;
	height: 315px;
}
.center
{
	text-align:center;
}
@media only screen and (max-width:620px) 
{
  .main, .col, .log {
    width:100%;
    text-align:center;
  }
}