.cardImage
{
	width:50%;
	height:50%;
}
.main
{
	width: 100%;
	overflow:hidden;
}
.col
{
	float: left;
    width: 33.33%;
}
.log
{
	overflow-y:auto;
	height: 315px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}