body
{
	
  background: #00bf8f; 
  background: -webkit-linear-gradient(to right, #00bf8f, #001510); 
  background: linear-gradient(to right, #00bf8f, #001510);
  color: white;
  font-family: Arial;
  padding:20px;
  margin: 20px;
}
p
{
	font-weight: bolder;
	font-size: 15px;
	padding-bottom:30px;
}
pre
{
	font-family: Arial;
	
}
.btn 
{
	margin-top:10px;
	display: block;
	cursor: pointer;
	width:100%;
	color: white;
	background: #4198f4;
	border:none;
	padding: 20px;

}

.btn:hover 
{
    background-color: #42c5f4;
    color: white;
}
.cardImage
{
	width:50%;
	height:50%;
}
.main
{
	width: 100%;
	overflow:hidden;
}
.col
{
	float: left;
    width: 50%;
}
.log
{
	background-color:rgba(0, 0, 0, 0.5);
	overflow-y:auto;
	height: 315px;
}
.center
{
	text-align:center;
}
.box
{
	border-style: solid;
  	border-width: 5px;
  	margin:10px;
  	padding:10px;
  	border-radius: 25px;
}
.pile
{
	display: inline-block;
	
}
@media only screen and (max-width:620px) 
{
  .main, .col, .log
   {
    	width:100%;
    	text-align:center;
   }
   body
   {
   	font-size: 10px !important;
   }
}